<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.chenyong.android_demo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PropertyAnimationActivity"/>
        <activity android:name=".activity.CustomViewActivity"/>
        <activity android:name=".activity.ScrollerActivity"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.DeviceActivity"/>
        <activity
            android:name=".activity.GreenDaoActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.HelloKotlinActivity"/>
        <activity android:name=".activity.WebActivity"/>
        <activity android:name=".activity.AlgorithmActivity"/>
        <activity android:name=".activity.HttpActivity"/>
        <activity android:name=".activity.InjectActivity"/>
        <activity android:name=".activity.PathActivity"/>
        <activity android:name=".activity.IntentServiceActivity"/>
        <activity android:name=".activity.NestedScrollerViewActivity"/>
        <activity android:name=".activity.RecyclerActivity" />
        <activity android:name=".activity.DrawableActivity" />
        <activity android:name=".material.MdMainActivity" />
        <activity android:name=".material.ToActivity" />
        <service android:name=".service.UploadIntentService"/>


        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">
        </activity>
    </application>

</manifest>